body{
    background-color:cornsilk;
}
nav{
    width: 100%;
}
#header-nav {
  background-color:bisque;
  border-radius: 0;
}

#header-nav a{
    text-decoration: none;
}
#header-nav a:hover{
    color: white;
}
.navbar-brand {
  padding-top: 25px;
    vertical-align: center;
}
.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .2;
}
#nav-list a{
    color: black;
    background-color:burlywood;
    border: 1px solid black;
}
nav a{
    color:black;
    font-weight: bold;
}

#item-text{
    background-color:burlywood;
    margin: 25px auto 50px auto;
}


/********** Small devices only **********/

@media (max-width: 768px) {
  /* Header */
    div.container{
           border: none; 
    }
    #nav-list{
        text-align: center;
    }
     #nav-list a:hover{
         color: white;
    background-color: black;
    }
  .navbar-brand h1 { /* Restaurant name */
   /* padding-top: 10px;*/
    font-size: 5vw;
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
   /* margin-top: 12px;*/
  }
    #collapsable-nav{
        margin-bottom: -10px;
    }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }



